@use "@/styles/mixins.scss" as *;

.section {
  background-color: #3fb14f;
  padding-bottom: 10%;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  @include space();
  @include mq(lg) {
    grid-template-columns: 1fr 1fr;
  }
}

.wrapper {
  @include gap();
}

.card {
  @include card();
}

.content {
  max-width: 50rem;
  margin: 0 auto;
  padding: 10%;
  @include gap();

  @include mq(lg) {
    padding: 10%;
  }
}

.title {
  color: inherit;
  margin-bottom: 1.562rem;
  margin-top: 1.875rem;
  text-transform: uppercase;
  @include h3m();
}

.list {
  /* list-style: none; */
  margin: 0;
  color: inherit;
}

.item {
  margin: 0;
  margin-top: 0.312rem;
}

.media {
  max-width: 5rem;
  margin-bottom: 2.5rem;
  color: inherit;
}
