@use "@/styles/mixins.scss" as *;

.section {
  padding-top: 5%;
  padding-bottom: 40%;
  background-color: #298a43;
  overflow: hidden;
  position: relative;
  @include gap();
  @include mq(md) {
    padding-bottom: 10%;
  }

  /* BIG GREEN CIRCLE DECORATION */

  &::before {
    content: "";
    position: absolute;
    background-color: #64bf49;
    width: 200%;
    padding-bottom: 200%;
    right: 0;
    top: 10%;
    border-radius: 100%;
    transform: translate(50%, 0%);
    opacity: 0.4;
  }
}

.container {
  @include container();
}

.title {
  text-align: center;
  margin-top: 15%;
  color: white;
  margin-bottom: 2.5rem;
  @include mq(md) {
    margin-bottom: 6.25rem;
  }
}

.service {
  padding: 1.875rem;
  position: relative;
  margin-bottom: 2.5rem;
  //   background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
  align-items: center;

  @include mq(md) {
    gap: 6.25rem;
    padding: 3.75rem;
    margin-bottom: 6.25rem;
    border-radius: 12.5rem;
  }

  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    background-color: white;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.3);
    @include mq(md) {
      border-radius: 31.25rem;
      width: 500%;
      height: 100%;
    }
  }
  @include mq(md) {
    &:nth-of-type(odd) {
      grid-template-columns: 6.25rem 1fr;

      &::before {
        left: 0;
      }
      .image {
        order: 1;
      }
      .content {
        order: 2;
      }
    }
    &:nth-of-type(even) {
      grid-template-columns: 1fr 6.25rem;
      &::before {
        right: 0;
      }
      .image {
        order: 2;
      }
      .content {
        order: 1;
      }
    }
  }
}

.image {
  aspect-ratio: 1/1;
  width: 6.25rem;
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto;
}

.content {
  position: relative;
  z-index: 2;
}

.name {
  margin-bottom: 1.25rem;
}
