@use "@/styles/mixins.scss" as *;

.section {
  position: relative;
  padding-bottom: 20%;
  margin-top: 6.25rem;
  &:before {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    width: 200%;
    padding-bottom: 200%;
    border-radius: 50%;
    background-color: var(--primary-base);
    opacity: 0.1;
    z-index: -1;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
  @include gap();
  @include container();
  @include mq(md) {
    grid-template-columns: 1fr 1fr;
  }
  @include mq(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.link {
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  overflow: hidden;
  border-radius: 1.25rem;
  max-width: 25rem;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
  @include mq(md) {
    border-radius: 3.125rem;
  }
  &:first-of-type {
    @include mq(md) {
      grid-column: 1 / span 2;
      max-width: initial;
      .link {
        grid-template-columns: 1fr 1fr;
      }
    }
    @include mq(lg) {
      grid-column: 1 / span 3;
    }
  }
  &:nth-of-type(even) {
    .cardImage {
      order: 2;
    }
    .cardBody {
      order: 1;
    }
  }
}

.cardBody {
  padding: 1.25rem;
  @include mq(sm) {
    padding: 1.875rem 2.5rem;
  }

  .isPrincipal {
    @include mq(lg) {
      max-width: 35.625rem;
      margin: 0 auto;
    }
  }
}

.cardImage {
  .isPrincipal {
    position: relative;
    margin-bottom: 2.5rem;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20%;
      padding-bottom: 2%;
      border-radius: 6.25rem;
      background-color: var(--secondary-base);
      z-index: -1;
      transform: translate(0, 200%);
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 25%;
      width: 5%;
      padding-bottom: 2%;
      border-radius: 6.25rem;
      background-color: var(--secondary-base);
      z-index: -1;
      transform: translate(0, 200%);
    }
  }
}

.image {
  img {
    aspect-ratio: 16/12;
    object-fit: cover;
  }
}

.title {
  margin-top: 0;
  max-height: 5.625rem;
  overflow: hidden;
  @include h4m();
}

.excerpt {
  max-height: 9.375rem;
  overflow: hidden;
  margin-bottom: 0.625rem;
}

.meta {
}

.metaIcon {
  vertical-align: top;
  display: inline;
  svg {
    display: inline-block;
  }
}

.metaText {
  vertical-align: top;
  display: inline;
}
