@use "@/styles/mixins.scss" as *;

.section {
  padding-top: 5%;
  padding-bottom: 20%;
  background-color: #369a44;
  position: relative;

  /* GREENBASE SECTION DECO */

  &::before {
    content: "";
    padding-top: 12.5rem;
    padding-bottom: 50%;
    width: 100%;
    background-color: #3fb14f;
    position: absolute;
    transform: translateY(30%) scaleX(1.4) rotate(-5deg);
    bottom: 0;
    border-radius: 50%;
    z-index: 1;
  }

  @include mq(md) {
    &::before {
      padding-bottom: 50rem;
      transform: translateY(70%) scaleX(1.6) rotate(-15deg);
    }
  }
}

.container {
  position: relative;
  z-index: 2;
}

.title {
  text-align: center;
  margin-bottom: 2em;
  color: white;
  z-index: 10;
  text-transform: uppercase;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  @include mq(sm) {
    grid-template-columns: 1fr 1fr;
  }
  @include mq(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  max-width: 20rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

.content {
  padding: 0.312rem;
  color: white;

  ul {
    margin: 0;
    margin-left: 0.625rem;
  }

  li {
    list-style: none;
    margin: 0;
    margin-top: 0.312rem;
  }
}

.cardTitle {
  margin: 0.625rem 0;
  color: white;
  text-transform: uppercase;
}

.members {
}

.member {
}

.name {
  color: inherit;
  margin-bottom: 0;
  font-weight: bold;
}

.jobTitle {
}
