@use "./mixins.scss" as *;

.formContainer {
  background-color: white;
  max-width: 60rem;
  margin: 0 auto;
}

.formCut {
  padding: 0 0.1rem;
  overflow: hidden;
  iframe {
    width: 100%;
    display: block;
    margin-bottom: -5.5rem;
  }
}

.message {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
