@use "@/styles/mixins.scss" as *;

.coopV {
  display: block;
  text-decoration: none;
  color: white;
  background-color: white;
  margin: 0 0.312rem;
  border: 0.125rem solid white;
  height: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1.25rem;
  border-radius: 6.25rem;
  display: inline-block;
  font-size: 0.875rem;
}

.header {
  position: relative;
  z-index: 1000;
  transition: background 0.2s ease-in-out;
  padding: 0.156rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.container {
  display: grid;
  margin-top: -1.562rem;
  @include gap();
  @include container();

  @include mq(lg) {
    // margin-top: -2.188rem;
    grid-template-columns: 9.375rem 1fr auto;
    gap: 1.875rem;
    align-items: center;
  }

  .menu {
    position: relative;
    display: none;
    @include mq(lg) {
      display: initial;
      z-index: 2;
    }

    &:global(.active) {
      display: initial;
      @include mq(lg) {
      }
    }
  }
}

.logo {
  display: block;
  position: relative;
  width: 7.5rem;
  z-index: 1;
  @include mq(lg) {
    width: 9.375rem;
  }

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    position: relative;
    z-index: 2;
  }
}
.deco {
  position: absolute;
  background: white;
  width: 180%;
  padding-bottom: 125%;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -70%);
  border-radius: 50%;
}

.link {
  text-decoration: none;
}

.gadgets {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1rem;
  @include mq(lg) {
    display: initial;
    grid-template-columns: initial;
    gap: initial;
  }
}

.menuButton {
  background-color: var(--primary-base);
  border-radius: 50%;
  padding: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
  @include mq(lg) {
    display: none;
  }

  svg {
    aspect-ratio: 1/1;
    width: 100%;
  }
}
