@use "@/styles/mixins.scss" as *;

.menu {
  margin: 0;
}

.container {
  padding: 0;
  display: grid;
  gap: 0.938rem;
  grid-template-columns: 100%;
  &:global(.isHeader) {
    background-color: white;
    border: 0.125rem solid white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 6.25rem 6.25rem;
    @include mq(lg) {
      background-color: var(--primary-base);
      position: relative;
      border-radius: 1.25rem;
      padding: 0;
      padding-left: 0.625rem;
    }
  }

  &:global(.split) {
    @include mq(sm) {
      grid-template-columns: 1fr 1fr;
    }
    @include mq(xl) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.block {
  z-index: 10;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
}
