@use "@/styles/mixins.scss" as *;

.section {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: var(--primary-base);
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.wrapper {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 300%;
    height: 100%;
    background-color: white;
    transform-origin: 100% 50%;
    overflow: hidden;
    display: block;
    border-radius: 5rem;
    @include mq(lg) {
      border-radius: 10rem;
    }
  }
}
