@use "@/styles/mixins.scss" as *;

.section {
  @include space();
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @include mq(lg) {
    grid-template-columns: 1fr 1.5fr;
  }
}

.content {
  @include gap();
  @include mq(md) {
    max-width: 57rem;
    margin: 0 auto;
  }
  @include mq(lg) {
    order: 1;
  }
}

.cardImage {
  position: relative;
  margin-left: 10%;
  margin-bottom: 4rem;
  @include mq(lg) {
    order: 2;
    margin-left: initial;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    padding-bottom: 12%;
    border-radius: 50%;
    background-color: var(--primary-light);
    transform: translate(50%, 50%) rotate(-10deg);
    z-index: 1;
  }
}

.image {
  border-radius: 50rem 0 0 50rem;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-weight: initial;
}

.copy {
}
