$smq: 576px;
$mdq: 768px;
$lgq: 992px;
$xlq: 1200px;

@mixin mq($size) {
  @if $size == sm {
    @media (min-width: $smq) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: $mdq) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: $lgq) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: $xlq) {
      @content;
    }
  }
}

@mixin container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  @include mq(sm) {
    max-width: 540px;
  }
  @include mq(md) {
    max-width: 720px;
  }
  @include mq(lg) {
    max-width: 960px;
  }
  @include mq(xl) {
    max-width: 1140px;
  }
}

@mixin topSpace {
  margin-top: 5rem;

  @include mq(lg) {
    margin-top: 7.5rem;
  }
}

@mixin space {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

@mixin gap {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@mixin medio {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  & > img {
    object-fit: cover;
  }
}

@mixin h1m {
  color: var(--primary-base);
  font-weight: 800;
  font-size: 1.812rem;
  line-height: 1.138888889;

  @include mq(sm) {
    font-size: 2rem;
  }
  @include mq(md) {
    font-size: 2.125rem;
  }
  @include mq(lg) {
    font-size: 2.25rem;
  }
  @include mq(xl) {
    font-size: 2.5rem;
  }
}

@mixin h2m {
  color: var(--primary-base);
  font-size: 1.312rem;
  @include mq(sm) {
    font-size: 1.5rem;
  }
  @include mq(md) {
    font-size: 1.625rem;
  }
  @include mq(lg) {
    font-size: 1.75rem;
  }
  @include mq(xl) {
    font-size: 2rem;
  }
}

@mixin h3m {
  color: var(--primary-base);
  font-size: 1.188rem;

  @include mq(sm) {
    font-size: 1.25rem;
  }
  @include mq(md) {
    font-size: 1.375rem;
  }
  @include mq(lg) {
    font-size: 1.5rem;
  }
  @include mq(xl) {
    font-size: 1.75rem;
  }
}

@mixin h4m {
  color: var(--primary-base);
  font-size: 1.125rem;
  @include mq(sm) {
    font-size: 1.125rem;
  }
  @include mq(md) {
    font-size: 1.25rem;
  }
  @include mq(lg) {
    font-size: 1.25rem;
  }
  @include mq(xl) {
    font-size: 1.5rem;
  }
}

@mixin h5m {
  color: var(--primary-base);
  font-size: 1.062rem;
  @include mq(sm) {
    font-size: 1.062rem;
  }
  @include mq(md) {
    font-size: 1.125rem;
  }
  @include mq(lg) {
    font-size: 1.125rem;
  }
  @include mq(xl) {
    font-size: 1.25rem;
  }
}

@mixin h6m {
  color: var(--primary-base);
  font-size: 1rem;
  @include mq(sm) {
    font-size: 1rem;
  }
  @include mq(md) {
    font-size: 1.062rem;
  }
  @include mq(lg) {
    font-size: 1.062rem;
  }
  @include mq(xl) {
    font-size: 1.125rem;
  }
}

@mixin cta {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: var(--secondary-base);
  font-weight: bold;
  padding: 0.625rem 1.562rem;
  border-radius: 1.875rem;
  display: inline-block;
  color: #565656 !important;
  outline: initial;
  border: initial;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(115, 185, 255, 0.5);
  }
  &:hover {
    background-color: var(--secondary-base);
  }
}

@mixin card {
  padding: 1.25rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 0.312rem rgba(0, 0, 0, 0.1);

  @include mq(md) {
    padding: 1.875rem;
  }
}
